.user-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-form input{
    border: solid 1px var(--main-color);
    padding: 2px 2px;
}

.user-form input:focus{
    outline:0;
    border: solid 2px var(--main-color);
}

.form-submit{
    align-self: center;
    margin-top: 10px;
    background-color: var(--secondary-color);
    width: 65px;
    border: 0;
    padding: 4px 0px;
    border-radius: 1000px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.form-submit:hover {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)),var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .form-submit:active {
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),var(--secondary-color);
    transform: translateY(1px);
  }