.user-card {
  width: 200px;
  border-radius: 10px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.user-avatar {
  width: 100%;
  height: 200px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.user-info p {
  font-size: 0.8rem;
}

.user-info span {
  display: flex;
  justify-content: space-around;
}

.user-info button {
  background-color: var(--third-color);
  width: 65px;
  border: 0;
  padding: 4px 0px;
  border-radius: 1000px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.user-info button:hover {
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)),
    var(--third-color);
  border-radius: 10px;
  cursor: pointer;
}

.user-info button:active {
  background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
    var(--third-color);
  transform: translateY(1px);
}

/* .user-info span button:last-of-type{
    background: rgb(255,0,0);
    color: white;
} */

.user-info span button:last-of-type:hover {
  background: rgb(255, 0, 0);
  color: white;
}

.user-info span button:last-of-type:active {
  background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
    rgb(255, 0, 0);
}
